
.mat-list, .mat-nav-list, .mat-selection-list{
    padding-top: 0;
}
.mat-list-item{
    color: white;
    font-size: 12px;
}
.mat-nav-list a.active {
    background:white;
    color: #136FB3;
    font-size: 15px;
}
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: #136FB3;
    overflow-x: hidden;
    transition: 0.5s;
}
/* .logoTxt{
    background: #136FB3;
    color: white;height: 46px;
} */
/* .sidenav .logoTxt {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    transition: 0.3s;
    color: white;
} */

/* .sidenav .logoTxt:hover {
    color: black;
} */

/* 
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
} */


/* 
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} */